.container {
  font-family: Arial, sans-serif;
}

.capa-container{
    height: 500px;
    width: auto;
    overflow: hidden;
    margin: auto;
}

.titulo{
    align-self: center;
}

.card-container{
    padding: 0 30px;
}

.cartoon-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #f9f9f9;
}

.cartoon-card img {
  border-radius: 8px;
}